<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745014329186-fugn4onaqsm0junhe7g13mmf0j7vijuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745014329186-fugn4onaqsm0junhe7g13mmf0j7vijuh</string>
	<key>API_KEY</key>
	<string>AIzaSyA9wknOLyHCWSLTS0TkbtNy9pPZVu3Ia-U</string>
	<key>GCM_SENDER_ID</key>
	<string>745014329186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ehelp</string>
	<key>PROJECT_ID</key>
	<string>ehelpios</string>
	<key>STORAGE_BUCKET</key>
	<string>ehelpios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745014329186:ios:d522b56ba59b425771b63b</string>
	<key>DATABASE_URL</key>
	<string>https://ehelpios.firebaseio.com</string>
</dict>
</plist>